@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --font-myfont : "Inter", sans-serif;
    --color-mycolor: #3b5d50 ;
    --color-scolor: #6c757d ;
    --color-bcolor: #6a6a6a30 ;
}